/* src/style.css */

/* 移除了之前自定义的 :root 变量 */

/* 清除所有元素的默认内外边距 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 让 html, body 和 vue 的挂载点占满整个屏幕高度 */
html,
body,
#app {
  height: 100%;
  /* color 属性已被 theme.scss 接管 */
}
